.main-header {
    background-color: #282828;
    color: white;
}

.xenadu-menu {
    display: none;
}

.xenadu-menu h4 {
    border-bottom: solid 2px #555;
}

.xenadu-menu__list {
    font-size: large;
    padding-top: 10%;
    padding-left: 25%;
}

.xenadu-footer {
    padding: 25px;
    background-color: #282828;
    color: white;
}

.xenadu-footer a {
    color: white;
}

.test-0 {
    background-color: green;
}

.test-1 {
    background-color: aqua;
}

@media only screen and (min-width: 700px) {
    .xenadu-main-content {
        height: 80vh;
    }
    .xenadu-menu {
        display: block;
        margin: 10%;
        margin-right: 20%;
        height: 400px;
    }
}
