.main-header {
    background-color: #282828;
    color: white;
}

.xenadu-menu {
    margin: 100px;
    height: 400px;
    border: solid 2px #666;
}

.xenadu-menu__list {
    font-size: large;
    padding-top: 10%;
    padding-left: 25%;
}

.xenadu-footer {
    padding: 25px;
    background-color: #282828;
    color: white;
}

.xenadu-footer a {
    color: white;
}

.test-0 {
    background-color: green;
}

.test-1 {
    background-color: aqua;
}

@media (min-device-width: 900px) {
    .xenadu-main-content {
        height: 80vh;
    }
}
